
#test{
    color: blue;
}
.centerContent {
    text-align: center;
}
.errorRangeComponent{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.errorRangeBlock{
    display:flex;
    flex-direction:column;
    width: 50px;
}
